* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
  }
  
  section {
    width: 100vw;
    padding: 2rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }

  .title{
    padding-top: 3rem;
  }


  header.design1{
    width: 100vw;
    height: 9vh;
    background: rgb(77, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
      height: 240px;
      }

      nav.navigation {
        display: flex;
        align-items: center;
        gap: 5rem;
    
        a.nav-content {
          position: relative;
          font-weight: 600;
          font-size: 1.1rem;
          color: white;
        }
      }
  }

  header.design2{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: #CB356B; 
    background: -webkit-linear-gradient(to right, #dd4635, #830404);  
    background: linear-gradient(to right, #ce3e2e, #830404); 
    border: 2px solid rgb(73, 11, 11);
  
    & > img.logo{
      height: 80px;
    }
  
    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 0;
      & > a.nav-content {
        font-weight: 600;
        font-size: 1.3rem;
        color: white;
        padding: 2rem;
      }
    }
  }

  header.design3{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: rgb(216, 7, 7);
  
    & > img.logo{
      height: 100px;
    }
  
    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 0;
  
    & > a.nav-content {
      font-weight: 600;
      font-size: 1.3rem;
      color: white;
      padding: 2rem;
  
    }
  
    & > .box{
      position: relative;
      .input{
        padding: 5px;
        width: 40px;
        height: 40px;
        background: none;
        border: 4px solid rgb(105, 4, 4);
        border-radius: 50px;
        box-sizing: border-box;
        font-family: Comic Sans MS;
        font-size: 26px;
        color: rgb(105, 4, 4);
        outline: none;
      }
  
      i{
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translate(-50%,-50%);
        font-size: 18px;
        color: rgb(105, 4, 4);
      }
    }
  }
  }

  header.design4-logo{
    height: 100vh;
    width: 4.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: rgb(1, 32, 78);
    align-items: center;
    align-self: flex-start;
      & > img.logo{
        height: 50px;
        transform: translateY(390px);
    }
  }
  
  header.design4 {
    position: absolute;
    width: 10vw;
    height: 100vh;
    background: rgb(58, 190, 249);
    display: flex;
    flex-direction: column;
    top: 754px;
    left: 85px;

    & > nav.navigation{
      display: flex;
      flex-direction: column;

      a.nav-content{
        padding: 6.3rem 2rem;
        font-size: 1.5rem;
        color: rgb(1, 32, 78);
        font-weight: 700;
      }
    }
  }

  header.design5{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    background: rgb(1, 32, 78);
    position: relative;
    & > img.logo1, & > img.logo2{
      height: 80px;
      position: absolute;
      left: 4.6rem;
      top: 30px;
      transition: opacity 0.3s ease;
    }

    & > img.logo1 {
      z-index: 1;
    }
  
    & > img.logo2 {
      opacity: 0;
      z-index: 0;
      left: 4rem;
    }

    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 0;

      & > a.nav-content {
        font-weight: 600;
        font-size: 1.3rem;
        color: white;
        padding: 1rem 3rem 0 2rem;
        transition: 0.2s ease;
        position: relative;
        text-align: center;
        }
      }

      & > nav.navigation2{
        padding: 1rem 4rem;
        width: 500px;
        & > div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: -190px;
          padding: 0 3rem;

          & > img.logo{
            height: 80px;
          }

          & > a.nav-content {
            font-weight: 600;
            font-size: 2rem;
            color: white;
          }
          & > a.nav-content2{
            font-weight: 600;
            font-size: 4rem;
            color: white;
          }
          & > button.btn{
            display: flex;
            align-items: center;
            background-color: #fff;
            border: 2px solid #000;
            box-sizing: border-box;
            color: #000;
            cursor: pointer;
            fill: #000;
            font-size: 1.3rem;
            font-weight: 600;
            height: 50px;
            justify-content: center;
            width: 250px;
            padding: 1.3rem 1.3rem;
            text-align: center;
            text-decoration: none;
          }
        }

      }
    }

    /* FOR ANIMATED HEADERS */
  header.design1-animated {
    width: 10px;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;
    background: rgb(170, 21, 21);
  
      & > .container{
        display: inline-block;
        cursor: pointer;
  
        & > .logo{
          height: 240px;
          transition: transform 0.5s ease;
  
          &:hover {
            transform: scale(0.8);
          }
        }
      }
  
     & > nav.navigation {
      display: none;
  
      & > a.nav-content {
        position: relative;
        font-weight: 600;
        font-size: 1.1rem;
        color: white;
  
        & > i.icon{
          position: absolute;
          top: 0;
          left: 20px;
          transform: translateY(-5%);
          font-size: 1.7rem;
          opacity: 0;
          transition: 0.2s ease;
        }
  
        &:hover i.icon {
          top: 0;
          left: 20px;
          transform: translateY(-85%);
          opacity: 1;
        }
      }
    }
  }
  
  #toggle:checked ~ header.design1-animated {
    width: 100vw;
    background: rgb(77, 10, 10);
  }
  
  #toggle:checked ~ header.design1-animated .navigation{
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  
  /* DESIGN 2 */
  
  header.design2-animated{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: #CB356B; 
    background: -webkit-linear-gradient(to right, #dd4635, #830404);  
    background: linear-gradient(to right, #ce3e2e, #830404); 
    border: 2px solid rgb(73, 11, 11);
  
    & > img.logo{
      height: 80px;
    }
  
    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 0;
  
      & > a{
        transition: 0.2s ease;
        &:hover {
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        }
      }
      & > a.nav-content {
        font-weight: 600;
        font-size: 1.3rem;
        color: white;
        padding: 2rem;
        transition: 0.2s ease;
        &:hover{
          transform: translate(0px, -20px);
          background:rgb(170, 21, 21);
          box-shadow: 2px 2px 10px 5px rgb(126, 5, 5);
          border: 2px solid rgb(109, 3, 3);
        }
      }
    }
  }

  header.design3-animated{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: rgb(216, 7, 7);
  
    & > img.logo{
      height: 100px;
    }
  
    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 0;
  
    & > a.nav-content {
      font-weight: 600;
      font-size: 1.3rem;
      color: white;
      padding: 2rem;
  
    }
  
    &:hover a:not(:hover) {
        transform: scale(0.8);
        opacity: 0.9;
        filter: blur(1px);
    }
  
    &:hover{
      transform: scale(1.1);
      text-shadow: 1px 2px 1px rgba(90, 0, 0, 1);
    }
  
    & > .box{
      position: relative;
  
      .input{
        padding: 5px;
        width: 40px;
        height: 40px;
        background: none;
        border: 4px solid rgb(105, 4, 4);
        border-radius: 50px;
        box-sizing: border-box;
        font-family: Comic Sans MS;
        font-size: 26px;
        color: rgb(105, 4, 4);
        outline: none;
        transition: .5s;
  
        &:hover {
          width: 200px;
          background: transparent;
          border-radius: 10px;
      }
      }
  
      i{
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translate(-50%,-50%);
        font-size: 18px;
        color: rgb(105, 4, 4);
        transition: .2s;
  
        &:hover {
          opacity: 0;
          z-index: -1;
        }
      }
    }
  }
  }
  
  header.design4-logo{
    height: 100vh;
    width: 4.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: rgb(1, 32, 78);
    align-items: center;
    align-self: flex-start;
    z-index: 2;
  
    & > .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  
      & > img.logo{
        height: 50px;
        transition: transform 0.5s ease;
        transform: translateY(390px);
      }
    }
  }
  
  header.design4-animated {
    height: 100vh;
    width: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    align-self: flex-start;
    transform: translate(-200px, -900px);
    transition: transform 0.2s ease-in-out;
    z-index: 1;
  }

  header.design4-animated .navigation {
    display: flex;
    flex-direction: column;
  }

  header.design4-animated .navigation a.nav-content {
    font-weight: 600;
    font-size: 1.3rem;
    color: white;
    padding: 3.5rem;
  }

  #toggle2:checked ~ header.design4-animated {
    width: 10vw;
    background: rgb(58, 190, 249);
    transform: translate(80px, -900px);
  }

  #toggle2:checked ~ header.design4-animated .navigation {
    display: flex;
    align-items: center;
    gap: 5.9rem;
  }

  #toggle2:checked ~ header.design4-animated .navigation a.nav-content {
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(1, 32, 78);
    transition: 0.2s ease;

  }

  #toggle2:checked ~ header.design4-animated .navigation a.nav-content:hover{
    transform: translate(0px, -20px);
          background:rgb(58, 190, 249);
          box-shadow: 2px 2px 10px 5px rgb(53, 114, 239);
          border: 2px solid rgb(1, 32, 78);
          padding: 6rem 16px 6rem 6.1rem;
  }



  header.design5-animated{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    background: rgb(1, 32, 78);
    position: relative;
    & > img.logo1, & > img.logo2{
      height: 80px;
      position: absolute;
      left: 4.6rem;
      top: 30px;
      transition: opacity 0.3s ease;
    }

    & > img.logo1 {
      z-index: 1;
    }
  
    & > img.logo2 {
      opacity: 0;
      z-index: 0;
      left: 4rem;
    }
  
    &:hover > img.logo1 {
      opacity: 0;
      transform: scale(0.8);
    }
  
    &:hover > img.logo2 {
      opacity: 1;
    }

    & > nav.navigation {
      display: flex;
      align-items: center;
      gap: 0;

      & > a.nav-content {
        font-weight: 600;
        font-size: 1.3rem;
        color: white;
        padding: 1rem 3rem 0 2rem;
        transition: 0.2s ease;
        position: relative;
        text-align: center;

        &:hover{
          transform: translateY(-10px);
          text-decoration: underline rgb(93, 93, 245);
        }
        }
      }

      & > nav.navigation2{
        padding: 1rem 4rem;
        width: 500px;
        & > div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: -190px;
          padding: 0 3rem;

          & > img.logo{
            height: 80px;
          }

          & > a.nav-content {
            font-weight: 600;
            font-size: 2rem;
            color: white;

            &:hover{
              text-shadow: 2px 2px 10px rgb(93, 93, 245);
            }
          }
          & > a.nav-content2{
            font-weight: 600;
            font-size: 4rem;
            color: white;

            &:hover{
              text-shadow: 2px 2px 20px rgb(93, 93, 245);
            }
          }
          & > button.btn{
            display: flex;
            align-items: center;
            background-color: #fff;
            border: 2px solid #000;
            box-sizing: border-box;
            color: #000;
            cursor: pointer;
            fill: #000;
            font-size: 1.3rem;
            font-weight: 600;
            height: 50px;
            justify-content: center;
            width: 250px;
            padding: 1.3rem 1.3rem;
            text-align: center;
            text-decoration: none;
            transition: all .3s;
    
    
            &:focus {
              color: #171e29;
            }
    
            &:hover {
              border-color: #06f;
              border-radius: 30px;
              color: #06f;
              fill: #06f;
            }
            &:active {
              border-color: #06f;
              color: #06f;
              fill: #06f;
            }
          }
        }

      }
    }
